.filter-form-container {
  width: 565px;
}

.filter-header-title {
  border-bottom: 2px solid #3ea635;
  padding-left: 20px;
  margin-bottom: 34px;
  padding-bottom: 3px;
  
  h4 {
    color: #3ea635;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }
}
